<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
    <link  href="https://jaumesegarra.github.io/minesweeper/favicon.ico"  rel="shortcut icon" type="image/x-icon" />
    <script src="../js/vue.js" ></script>
    <link href="https://fonts.googleapis.com/css?family=Silkscreen" rel="stylesheet">
    <link rel="stylesheet" href="../css/button.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<style>
  
  div.modal-body{
    font-size: 16px;
  }

  table {
    margin-top: 1em;
    border: 0;
    border-collapse: collapse;
    border-radius: 8px;
    width: 100%;

  }
  th {
    border: solid 4px #051f22;
    padding: 16px 8px;
    text-align: center;

  }
  td {
    border: solid 3px #3a7f87;
    text-align: center;
    padding: 8px;
    color: #757575;
  }

  #minebox div.boxrow {
    font-size:0
  }





  #minebox span{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: inline-block;
    position: relative;
    top:0;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  #minebox span b { 
    font-family:Arial, Helvetica, sans-serif;
    font-size:35px;
    text-align: center;
    display: inline-block;
    
  }
  #minebox span.blank{

    color: rgb(15, 219, 195);
    background-color:#c6c6c6cd;
    background-image:none;
  }

  #minebox span.flag{

    background-color:rgb(219, 3, 3);
    background-image: url("../images/minesweeper/flag.png");

  }


  .head{
    font-family: 'Silkscreen';

  }

  #minebox span.unknown{

    background-image: url("../images/minesweeper/unknown.png");
  }

  #minebox span.active{
    background-color:#c6c6c6cd;
    background-image: none;
  }


  #minebox span.bomb{
    background-image: url("../images/minesweeper/bomb.png");
  }
  #minebox span.bombhit{
    background-image: url("../images/minesweeper/bombhit.png");
  }

  #minebox span.number{
    background-image:none;
    background-color:#c6c6c6e6;
  }

  #minebox span .number1{
    color: blue;
  }
  #minebox span .number2{
    color: rgb(0, 132, 0);
  }

  #minebox span .number3{

    color:red;
  }

  #minebox span .number4{

    color:rgb(207, 48, 72);
  }

  #minebox span .number5{

    color:rgb(213, 25, 135);
  }
  #minebox span .number6{

    color:rgb(208, 94, 0);
  }
  #minebox span .number7{

    color:rgb(70, 137, 187);
  }
  #minebox span .number8{

    color:rgb(119, 204, 0);
  }
div.smile{

 position:absolute;right:48%;
 background-image: url("../images/minesweeper/unknown.png");
 width:45px;height:45px; 
 user-select: none;
 font-size: 25px;
 background-repeat: no-repeat;
 background-size: 100% 100%;
 text-align: center;
 vertical-align:middle;
  top:5px;
}
div.smile:active{
  background-color:#c6c6c6cd;
  background-image:none;
}
  div.timebox
{
  position:absolute;left:5%;top:5px;
  background-color: rgb(0, 0, 0);
  width:8%;height:5%;
  color: rgb(225, 2, 2);
  font-size: 30px;
  text-align: right;
}
div.head{
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.level
{
  position:absolute;right:16%;top:8px;
  width:25%;height:5%;
}

div.level button
{

  margin-left: 8px;

}

div.flagbox
{
  position:absolute;right:5%;width:5%;height:5%;top:5px;
  
  background-color: rgb(0, 0, 0);

  color: rgb(225, 2, 2);
  font-size: 30px;
  text-align: right;
}

div.instruction
{
  position:absolute;right:60%;width:18%;height:5%;top:8px;


}
</style>

  </head>

<body>
 

<div id="mine">
  <div class="boundary" @click.right.prevent="non()" style="position:relative;left:auto; background-color: gray;width:1470px;margin:auto;height:100% ">
    <div class="head">
    <div class="timebox" >{{timeused}}</div>
    <div class="flagbox" >{{remainMine}}</div>
    <div class="instruction"> <button class="blue button" data-toggle="modal" data-target="#myModal">
      How to Play
    </button>
    <button class="blue button" data-toggle="modal" data-target="#record">
      Record List
    </button>
  </div>  
    <div class="smile" @mouseup.left="smilemouseup" @mousedown.left="smileMouseDown">{{face}}</div>
    <div class="level">
          <button id="Easy" class=" button" @click="setlevel()" value=0.09>Easy</button>
          <button id="Normal" class="red button" @click="setlevel()" value=0.12>Normal</button>     
          <button id="Hard" class=" button" @click="setlevel()" value=0.18>Hard</button>
    </div>
 
  </div>



      <div id="minebox"  style="background-color: rgb(97, 97, 97); width:100%;margin:auto;height:94%;position:absolute;bottom:0%">

      </div>


  </div>



</div>


<div class="modal fade" id="record" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel" style="color:  darkblue;">
			  	Record List
				</h4>
			</div>
      
			<div class="modal-body">
        <div style="text-align:center;"> 
           <b>Top 12 play record</b>
        </div>
       
        <div id="reclist">

          <div class="btn-group btn-group-toggle" data-toggle="buttons" style="margin-left:30%">
            <label class="btn btn-primary " @click="showlist('Easy')">
              <input type="radio" name="options" id="option1" autocomplete="off" > Easy
            </label>
            <label class="btn btn-primary active" @click="showlist('Normal')">
              <input type="radio" name="options" id="option2" autocomplete="off" checked> Normal
            </label>
            <label class="btn btn-primary" @click="showlist('Hard')">
              <input type="radio" name="options" id="option3" autocomplete="off"> Hard
            </label>
          </div>



  <table >

     <thead style="border: 4px black;"> 
            <tr>
             <th>Rank</th>
            <th>Name</th>
            <th>Time used (sec)</th>
            <th>Difficulty</th>
            <th> Date</th>

            </tr>
  
          </thead>
          <tbody>

            <tr id="list" v-for="(item,index) of filPerons":key="item.id"  style="text-align:'center'" > 
              <td>{{index+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.timeused}}</td>
              <td>{{item.level}}</td>
              <td>{{item.time}}</td>
            </tr>


          </tbody>
  </table>
         
  
  </div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close
		    </button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
					&times;
				</button>
				<h4 class="modal-title" id="myModalLabel" style="color:  darkblue;">
			  	How to Play	Minesweeper 
				</h4>
			</div>
			<div class="modal-body">
        Welcome to Minesweeper by <a href="https://juejove.github.io/" target=”_blank” >Robin Lin</a> .This guide will help you in completing your first game.
				<ul>
          <li>Number block <span style="background-color: rgb(202, 201, 201);color:rgb(255, 0, 0)">3</span>:The number on a block shows <br> the <b>number of mines adjacent to it </b> in surrounding 8 blocks</li>

          <li>Flag🚩: Right click on an unknown block so you can mark there is a mine underground (or just suspect).
           <br> You won't touch it accidently, unless you right click on a flag again to cancel marking</li>
           <li>Smiley face😊: Click it if you want to reset the game</li>
          <li>It is <b>not necessarily</b>  to mark all mines to win the game. As long as all safe blocks are clicked, you will win.</li> 
          <li> Numbers on top <SPAn style="color: red; background-Color:black; font-family:Silkscreen">45</SPAn>: left one indicates the time used for this game and will be recorded if it is good enough. 
          <br> The right one indicates how many mines left to be swept.</li>
          <li>Difficulty <button id="easy" class=" button">Easy</button>: Select the difficulty you want before a new game starts.</li> 
          <li>Advanced trick: For a number block, if you have already marked a number of flags equals to the number block value,
           then click on the number block, and we will automatically step on all the other surrounding unknown blocks. 
            <br>If the surrounding unknown block amount equals to the number block value, we will automatically put flags on all those blocks.
            <br> <b>Be careful using this trick because you will get punished after you click a number block and nothing happens for a few times!</b>
          </li>
        </ul>
        
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Close
		    </button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal -->
</div>




</body>


<script>

  var minebox=document.getElementById("minebox")
  var row=12;var col=25;
  for (let i=0;i<row;i++)
  {
    let newrow=document.createElement("div")
    newrow.style="height:8%;margin-top:2px;text-align:center"
    newrow.className="boxrow"
    for (let k=0;k<col;k++)
    {
      
      text1="<span style='height:55px;width:55px;margin-left:2px;' "
    //  text2="@click.right.prevent='aler()' v-model='vm.R"+i+"C"+k+".value' >ss</span>"
      text2="@mouseleave='mouseleave' @mouseup.left='mouseup($event)' @mousedown.left='mousedown($event)' @mousedown.right.prevent='aler()' class='unknown'></span>"
      newrow.innerHTML+=text1+text2


    }
    minebox.appendChild(newrow)
  }

</script>



<script>

  var reclist = new Vue({
    el: '#reclist',
    data: {

      newname:"",
      listid:1,
      levelname:"Normal",
      list:[],
      listorigin:
      [{id:1,name:"VIC",timeused:50,level:'Easy',time: new Date().toLocaleDateString('en-US')},
      {id:2,name:"NSW",timeused:30,level:'Easy',time: new Date().toLocaleDateString('en-US')},
      {id:3,name:"QLD",timeused:10,level:'Easy',time: new Date().toLocaleDateString('en-US')},
      {id:4,name:"ACT",timeused:81,level:'Easy',time: new Date().toLocaleDateString('en-US')},
      {id:5,name:"VIC",timeused:40,level:'Normal',time: new Date().toLocaleDateString('en-US')},
      {id:6,name:"NSW",timeused:10,level:'Normal',time: new Date().toLocaleDateString('en-US')},
      {id:7,name:"QLD",timeused:40,level:'Normal',time: new Date().toLocaleDateString('en-US')},
      {id:8,name:"ACT",timeused:92,level:'Normal',time: new Date().toLocaleDateString('en-US')},
      {id:9,name:"VIC",timeused:10,level:'Hard',time: new Date().toLocaleDateString('en-US')},
      {id:10,name:"NSW",timeused:20,level:'Hard',time: new Date().toLocaleDateString('en-US')},
      {id:11,name:"QLD",timeused:40,level:'Hard',time: new Date().toLocaleDateString('en-US')},
      {id:12,name:"ACT",timeused:73,level:'Hard',time: new Date().toLocaleDateString('en-US')}
      ],
      },

      computed:{
        filPerons(){
          const arr = this.list.filter((p)=>{
            return p.level.indexOf(this.levelname) !== -1
          })
            arr.sort((p1,p2)=>{
              return p1.timeused-p2.timeused
            })
          return arr
        }
      },

      mounted: function(){

       this.readrecord()
      },

 

    methods:{
      readrecord(){
        this.list = JSON.parse(localStorage.getItem('mineswRecord'));
        if (!this.list){
          this.list=[]
        }
      
      },
      writerecord(){
         localStorage.setItem('mineswRecord',JSON.stringify(this.list));
      },

      showlist(listIndex){
        this.levelname= listIndex
   
      },
     
      getrecord(){
        if (this.list ){
        const prearr = this.list.filter((p)=>{
        return p.level.indexOf(this.levelname) !== -1
      })
        
        prearr.sort((p1,p2)=>{
          return p2.timeused-p1.timeused
        })
        prelength= prearr.length
        return prearr[0]
    }//if 
      },
     
      remove(id) {
        this.list=this.list.filter(item =>item.id !==id)
      },

      addnew(inputname){
        if(inputname){
        this.list.push(
          { 
          id: (this.list.length>0 ? this.list[this.list.length-1].id+1:1),
           // id:1,
          name:inputname,
          timeused:vm.timeused,
          level:vm.currentlevel,
          time: new Date().toLocaleDateString('en-US')
        })
        }
        this.newname=""
      }
    },

})

    var testrate=0.12
    var prelength
    var remain=Math.floor(col*row*testrate);var originRemain=Math.floor(col*row*testrate);
    var matrix=[] ;var minex=[];var miney=[];
    var safecube=row*col-originRemain;
    for (let i=0;i<row;i++){
      let temprow=[]
      for (let k=0;k<col;k++){
          temprow.push(0)   
      }
      matrix.push(temprow)
    }

    while (remain>0){
      let t1=Math.floor(Math.random()*row) ;
      let t2=Math.floor(Math.random()*col) ;
     if(matrix[t1][t2]==0){
     matrix[t1][t2]=-1;
     minex.push(t1);
     miney.push(t2);
     remain--
     }
    }

    var offsetx=[-1,0,1,-1,1,-1,0,1]
    var offsety=[-1,-1,-1,0,0,1,1,1]

    for (let i=0;i<row;i++){
      for (let k=0;k<col;k++){

        if(matrix[i][k]!=-1){
          let sum=0
          for (let m=0;m<offsetx.length;m++){

            if(i+offsety[m]>=0 && k+offsetx[m]>=0 && i+offsety[m]<row && k+offsetx[m]<col){
             if (matrix[i+offsety[m]][k+offsetx[m]]==-1)
            {
              sum+=1
            }
            }
          }
          matrix[i][k]=sum;
        }
      }}


function initialize( rate ){
  var remain=Math.floor(col*row*rate);var originRemain=Math.floor(col*row*rate);
  var matrix=[] ;var minex=[];var miney=[];
  var safecube=row*col-originRemain;
  for (let i=0;i<row;i++){
    let temprow=[]
    for (let k=0;k<col;k++){
        temprow.push(0)   
    }
    matrix.push(temprow)
  }

  while (remain>0){
    let t1=Math.floor(Math.random()*row) ;
    let t2=Math.floor(Math.random()*col) ;
   if(matrix[t1][t2]==0){
   matrix[t1][t2]=-1;
   minex.push(t1);
   miney.push(t2);
   remain--
   }}

  var offsetx=[-1,0,1,-1,1,-1,0,1]
  var offsety=[-1,-1,-1,0,0,1,1,1]

  for (let i=0;i<row;i++){
    for (let k=0;k<col;k++){

      if(matrix[i][k]!=-1){

        let sum=0

        for (let m=0;m<offsetx.length;m++){

          if(i+offsety[m]>=0 && k+offsetx[m]>=0 && i+offsety[m]<row && k+offsetx[m]<col){

           if (matrix[i+offsety[m]][k+offsetx[m]]==-1)
          {
            sum+=1
          }
          }
        }
        matrix[i][k]=sum;
      }
    }}

    var Domrow=document.getElementsByClassName("boxrow");
      for (let i=0;i<Domrow.length;i++){
        let eachrow=Domrow[i]
        let spanlist=eachrow.getElementsByTagName('span')
        for (let k=0;k<spanlist.length;k++){
          spanlist[k].setAttribute('Xpos',k);
          spanlist[k].setAttribute('Ypos',i);
          spanlist[k].setAttribute('value',matrix[i][k]);
          if(matrix[i][k]<10 && matrix[i][k]>0){
            let btag=document.createElement('b')
            btag.innerHTML=matrix[i][k]
            btag.className="number"+matrix[i][k];
            btag.style='visibility: hidden';
            spanlist[k].innerHTML=''
            spanlist[k].appendChild(btag);
          }
          
          else if (matrix[i][k]==0){
            let btag=document.createElement('b')
            btag.innerHTML='z';  
            btag.className="blank"
            btag.style='visibility: hidden';
            spanlist[k].innerHTML=''
            spanlist[k].appendChild(btag);
          }
        }
      }
}

      
    var Domrow=document.getElementsByClassName("boxrow");
      for (let i=0;i<Domrow.length;i++){
        let eachrow=Domrow[i]
        let spanlist=eachrow.getElementsByTagName('span')
        for (let k=0;k<spanlist.length;k++){
          spanlist[k].setAttribute('Xpos',k);
          spanlist[k].setAttribute('Ypos',i);
          spanlist[k].setAttribute('value',matrix[i][k]);
          if(matrix[i][k]<10 && matrix[i][k]>0){
            let btag=document.createElement('b')
            btag.innerHTML=matrix[i][k]
            btag.className="number"+matrix[i][k];
            btag.style='visibility: hidden';
            spanlist[k].appendChild(btag);
          }
          
          else if (matrix[i][k]==0){
            let btag=document.createElement('b')
            btag.innerHTML='zero';
            btag.className="blank"
            btag.style='visibility: hidden';
            spanlist[k].appendChild(btag);
          }


        }
      }

      var lmt=0; var neiList=[]

function getname(){
  var person=prompt("You break the record! Please leave your name here!","Smart Sweeper");
  if (person!=null && person!="" && person.length<19)
    { 
      return person         
      }
      else  {
        if (person.length>18){
            alert ("Please leave a name no more than 18 characters ")
        }
        
        getname()
      }

}

      function congra(){
        if(vm.vsafecube==0){
        alert("YOU WIN THE GAME !!!")
        clearInterval(vm.timer);  
        vm.gameover=true
        vm.face="😎"
        let record=reclist.getrecord()

        if (prelength<12){
          reclist.addnew(getname());
          reclist.writerecord()
        }
        else if (vm.timeused<record.timeused){
          const index = reclist.list.indexOf(record);
          if (index > -1) { 
            reclist.list.splice(index, 1); 
          }
          reclist.addnew(getname());
          reclist.writerecord()
        }
      }
        
      }


    function surround(i,k,lmt){
      if (lmt>(col*row)){return}
      for (let m=0;m<offsetx.length;m++){
            
        let newxx=parseInt(i)+offsetx[m]
        let newyy=parseInt(k)+offsety[m]
        let selectq="span[xPos='"+newxx+"'][yPos='"+newyy+"']"

        if (document.querySelector(selectq)){
            let nei1=document.querySelector(selectq)
            if (nei1.className.includes('unknown')){
                if (nei1.getAttribute('value')==0){
                            lmt++
                            nei1.className='blank';
                            vm.vsafecube--;
                            congra();
                            neiList.push(nei1)
                            surround(newxx,newyy,lmt)
                            }
                            else {
                              nei1.className="number"
                              vm.vsafecube--;
                              congra();
                              nei1.firstChild.style=  'visibility: visible';
                              
                            }
            }
      }
    }
  }

    var vm = new Vue({
      el: '#mine',
      data: {
        mat:matrix,
        remainMine:originRemain,
        timeused:0,
        timer:"",
        face:"😊",
        gameover:false,
        start:false,
        vsafecube:safecube,
        level:0.09,//initial rate
        currentlevel:"Normal",
        trickfail:0,
      },

      methods:{
        non() {},
        setlevel(){
          reclist.level=event.target.id

          if(this.start==false){
          let buts=document.querySelectorAll(".level button")            
        
         
          for (let i=0;i<buts.length;i++){

          buts[i].className="button"
          }

          event.target.className="button red";
          this.level= event.target.value;
          this.currentlevel=event.target.id;

          this.remainMine=this.level*col*row;
          this.vsafecube=col*row-this.remainMine;
        if (this.timeused==0){
            initialize(this.level)
          }
 
        }
      },
        mouseleave(){
          if (this.gameover==false){
            if(event.target.className=="unknown active")
            {
              event.target.className="unknown"
            }

          }
        },

        smileMouseDown(){
          this.face="😄";
          this.gameover=false;
          this.timeused=0;
 
          this.start=false;
          clearInterval(this.timer);
          let spans=document.querySelectorAll("#minebox span")
          document.querySelectorAll('#minebox span b').forEach(el => el.remove());

          for (let i=0;i<spans.length;i++){
             if (spans[i].className!="unknown")
             {
              spans[i].className="unknown"

            }
          }
          initialize(this.level)
          this.remainMine=this.level*col*row;
          this.vsafecube=col*row-this.remainMine;
          let buts=document.querySelectorAll(".level button")            
          for (let i=0;i<buts.length;i++){
          buts[i].disabled =false;
          }

        },
        smilemouseup(){
          this.face="😊";
        },
        mousedown(event){ 
          if (this.gameover==false &&  event.target.className.includes("unknown")){
          this.face="😲";
          event.target.className="unknown active"
        }

        },

        mouseup(event){
          if (this.start==false && this.gameover==false){
            this.timer = setInterval(this.showtime,1000);
            this.start=true;
          }
        

         if (event && this.gameover==false)  {
          this.face="😊";
          let buts=document.querySelectorAll(".level button")            
          for (let i=0;i<buts.length;i++){
          buts[i].disabled =true;
          }

        if((' ' + event.target.className + ' ').indexOf(' ' + 'unknown' + ' ') > -1)  {
              touchUnknown(event.target)
            }//for unknown

            else if(( event.target.className ).indexOf( 'number' ) > -1){
              if (event.target.tagName=="b"||event.target.tagName=="B")  {
                thisdom=event.target.parentNode
              }
              else{
                thisdom=event.target
              }
              let currentminecount=0
              let unknownNeibList=[]
              for (let i=0;i<offsetx.length;i++){
         
                let newx=parseInt(thisdom.getAttribute('xPos'))+offsetx[i]
                let newy=parseInt(thisdom.getAttribute('yPos'))+offsety[i]
                let selectq="span[xPos='"+newx+"'][yPos='"+newy+"']"

                if (document.querySelector(selectq)){
                   let nei2=document.querySelector(selectq)
                   if (nei2.className=='flag'){
                    currentminecount++
                   }
                   else if (nei2.className.includes('unknown') ){
                    unknownNeibList.push(nei2)
                   }
                  }
              
                }// for loop

                if (currentminecount==thisdom.getAttribute('value') && unknownNeibList.length>0){
                 for (let k=0;k<unknownNeibList.length;k++){
                  touchUnknown(unknownNeibList[k])
                 }
                }
                else if ( unknownNeibList.length + currentminecount== thisdom.getAttribute('value') && unknownNeibList.length>0){

                  for (let k=0;k<unknownNeibList.length;k++){
                    this.remainMine--;
                    unknownNeibList[k].className="flag";
                   }


                }
                else{
                  this.trickfail ++
                  if (this.trickfail>3){
                  alert("Nothing happens! Time increased for punishment")
                  this.timeused += (3+this.trickfail)
                  }

                }
            }
            
            
            else{ 
           // alert("Nothing happens")
            }
          
        }},

        aler() {
        
          if (event && this.gameover==false) {
            if (event.target.className=="flag"){
              this.remainMine++;
              event.target.className="unknown";

              
            }
            else if(event.target.className.includes("unknown") ) 
            {
              this.remainMine--;
              event.target.className="flag";

            }
            else{
              alert("Can't put flag at a known block")
            }


          }
        },
        showtime(){
          this.timeused++

        },
      },//methods
      mounted: function(){
        },
  
      beforeDestroy(){
        clearInterval(this.timer);
      }

    })

  </script>



  <script>

    function touchUnknown(ele){
      if (ele.getAttribute('value')==-1)
      {
        vm.face="😵";
        vm.gameover=true;
        vm.start=false;

        clearInterval(vm.timer);
        
        let bombset=document.querySelectorAll("span[value='-1']")
        for (k=0;k<bombset.length;k++){
          bombset[k].className="bomb";

        }
        ele.className='bombhit'
      }

      else if (ele.getAttribute('value')==0 && ele.className.includes('unknown'))
      {
        neiList=[]
        ele.className="blank";
        
        vm.vsafecube--;
        congra();
        for (let i=0;i<offsetx.length;i++){
   
        let newx=parseInt(ele.getAttribute('xPos'))+offsetx[i]
        let newy=parseInt(ele.getAttribute('yPos'))+offsety[i]
        let selectq="span[xPos='"+newx+"'][yPos='"+newy+"']"

       if (document.querySelector(selectq)){
          let nei1=document.querySelector(selectq)
          if (nei1.className.includes('unknown') ){
          if (nei1.getAttribute('value')==0 ){
          nei1.className='blank';
          neiList.push(nei1)
          vm.vsafecube--;
          congra();
          surround(newx,newy,0)
          }
          else if (nei1.className.includes('unknown')){
            vm.vsafecube--;
            congra();
            nei1.className="number"
            nei1.firstChild.style=  'visibility: visible';
          }
        }
        }
  
        }//for loop 
      }

      else if (ele.getAttribute('value')>0 && ele.className.includes('unknown'))
      {
        vm.vsafecube--;
        congra();
        ele.className="number"
        ele.firstChild.className=("number"+ele.getAttribute('value'));
        ele.firstChild.style=  'visibility: visible';
      }

    }//function touch unknown

  </script>  

</html>
